body{
    background-color: #a8dadc;  
}

p, li {
    color: #475550;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    margin: auto;
}

h1, h2, h3, h4 {
    
}

.nome-cientifico {
    font-style: italic;
}

h3{
    text-align: center;
}

.classificacao {
    display: inline;
}

table, th, td {
    color: #475550;
    font-size: 16px;
    border: 1px solid black;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    margin: auto;
    padding: auto;

  }

  header {
      margin: auto;
      text-align: center;
      background-color: rgb(63, 171, 171);
      width: 600px;
      border-radius: 25px 10px;
      border: 50px;
      
      
  }

  article {
      background-color: #f1faee;
  }

  img {
      size-adjust: 30%;
  }

.ul_naveg{
    text-align: center;
}

  .nav {
      text-align: center;
      display: inline;
      list-style: none;
      padding: 50px;
      width: 300px;
  }

  .artigos {
      
  }