body {
  background-color: #a8dadc;
  text-align: center;
}

h2, h3, h4 {
    color:rgb(63, 171, 171);
    line-height: 16px;
    
}


p {
  color: #475550;
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  margin: auto;
}

.nome-cientifico {
  font-style: italic;
}

.classificacao {
  display: inline;
}

table,
th,
td {
  color: #475550;
  font-size: 16px;
  border: 1px solid black;
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  margin: auto;
  padding: auto;
}

header {
  margin: auto;
  text-align: center;
  background-color: rgb(63, 171, 171);
  width: 600px 50px;
  border-radius: 25px 10px;
  border: 50px;
}

article {
  background-color: #f1faee;
  border-radius: 5px;
}

img {
  width: 200px;
  border-radius: 50%;
}

.ul_naveg {
    margin: auto;
    text-align: center;
    background-color: rgb(63, 171, 171);
    width: 600px 50px;
    border-radius: 10px 25px;
    border: 50px;
    

}

.nav {
  text-align: center;
  display: inline;
  list-style: none;
  padding: 50px;
  width: 300px;
}

.artigo {
  padding: 30px 70px 90px 70px;
  text-align: center;
}

.a1,
.a2,
.a3 {
  width: 30%;
  margin: 5px;
  display: inline-block;

}

li {
  list-style: none;
  color: #475550;
  font-size: 14px;
  font-weight: 300;
  
}

.fonte {
    font-size: 14px;
}
