body {
  background-color: #a8dadc;
}

p,
li {
  color: #475550;
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  margin: auto;
}

.nome-cientifico {
  font-style: italic;
}

h3 {
  text-align: center;
}

.classificacao {
  display: inline;
}

table,
th,
td {
  color: #475550;
  font-size: 16px;
  border: 1px solid black;
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  margin: auto;
  padding: auto;
}

header {
  margin: auto;
  text-align: center;
  background-color: rgb(63, 171, 171);
  width: 600px;
  border-radius: 25px 10px;
  border: 50px;
}

article {
  background-color: #f1faee;
}

img {
  width: 200px;
}

.ul_naveg {
  text-align: center;
}

.nav {
  text-align: center;
  display: inline;
  list-style: none;
  padding: 50px;
  width: 300px;
}

.artigo {
    padding: 30px 70px 90px 70px;
    text-align: center;
    display: inline-block;
    
}

.a1, .a2, .a3 {
width: 30%;
margin: 5px;
}

ol {
    list-style: none;
}