body {
    background-color: #ccc5b3;
    text-align: center;
    align-items: center;
    font-family: 'Press Start 2P';
    
}


img {
    width: 50px;
    position: static;
    border: 1px solid black;
}

#pixel-board {
    padding: 20px;
    width: 210px;
    height: 180px;
    background-color: rgb(255, 255, 255);
    
}
.pixel{
    
    margin-bottom: 0px;
    width: 50px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    display: inline-block;
    border: black solid 1px;
   
}

.color {
    text-align: center;
      margin: -1px;
      padding: 0px;
      width: 40px;
      height: 40px;
      background-color: rgb(255, 255, 255);
      display: inline-block;
      border: black solid 1px;

}

#color-palett {
    width: 400px;
    height: 40px;
}


      /* .black{}
.red{}
.green{}
.blue{}
.e{}
.f{}
.g{}
.h{}
.i{}
.j{}
.k{}
.l{}
.m{}
.n{}
.o{}
.p{} */
